<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_NamePipeSrv" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/JackTime2Run/Manage"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_NamePipeSrv"
                contract="JackTime2Run.NamePipeSrv" name="NetNamedPipeBinding_NamePipeSrv">
                <!--<identity>
                    <servicePrincipalName value="host/JACKPC" />
                </identity>-->
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>