<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="JackTime2RunJobs" type="JackTime2Run.JackTime2RunSecHandler,JackTime2Run" />
  </configSections>
  <JackTime2RunJobs>
    <!--
    name:作业的名称
    cron:定时任务表达式(http://jingyan.baidu.com/article/7f41ecec0d0724593d095c19.html)
    logtype:记录作业的执行情况,0-一定记录,1-成功时记录,2-失败时记录
    jobtype:作业类型,0-动态库,1-单个cs文件,2-exe程序
    searchpath:程序集搜索路径,多个路径使用“;”分割,不带盘符的会自动使用BaseDirectory转换为绝对路径
    typename:dll或exe或cs文件要指定调用的完整类名(比如:dll-"Demo2.Program, Demo2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",exe-"Demo2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",cs文件-"Demo2.Program")
    SrcCodeFilePath:cs文件的路径(不带盘符的会自动使用BaseDirectory转换为绝对路径)
    enable:0-不启用作业,1-启用作业
    method:对于dll或.cs文件要指定调用的方法名
    para组:调用传进去的参数,要求目标方法接收的是一个string[]类型的参数
    -->
    <!--调用.dll文件示例-->
    <job name="示例-dll-空参数(30秒循环调用)" cron="0/30 * * * * ?" logwhen="0" jobtype="0" searchpath="Dlls" typename="Demo2.Program, Demo2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" method="Show" enable="0" />
    <job name="示例-dll-带参数(30秒循环调用)" cron="0/30 * * * * ?" logwhen="0" jobtype="0" searchpath="Dlls"  typename="Demo2.Program, Demo2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" method="Show" enable="0">
      <para value="jack para"/>
      <para value="tom para"/>
    </job>

    <!--调用.exe文件示例-->
    <job name="示例-exe-空参数(30秒循环调用)" cron="10/30 * * * * ?" logwhen="0" jobtype="2" searchpath="Exes" typename="Demo2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" enable="0" />
    <job name="示例-exe-带参数(30秒循环调用)" cron="10/30 * * * * ?" logwhen="0" jobtype="2" searchpath="Exes"  typename="Demo2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" enable="0">
      <para value="this is tompara" />
    </job>

    <!--调用.cs文件示例-->
    <job name="示例-cs-空参数(30秒循环调用)" cron="10/30 * * * * ?" logwhen="0" jobtype="1" searchpath="" srccodepath="DynamicCodes\Program.cs" typename="Demo2.Program" method="Show" enable="0" />
    <job name="示例-cs-带参数(30秒循环调用)" cron="10/30 * * * * ?" logwhen="0" jobtype="1" searchpath="" srccodepath="DynamicCodes\Program.cs" typename="Demo2.Program" method="Show" enable="0">
      <para value="jack" />
      <para value="tom" />
      <para value="lisa" />
      <para value="jim" />
      <para value="jmkl" />
    </job>

    <!--定时清除Equeue日志-->
    <job cron="0 0 0 ? * 4 *" logwhen="0" jobtype="1" searchpath=""
      srccodepath="DynamicCodes\DeleteEqueueLog.cs" typename="JackSrc.Program"
      method="DeleteLog" enable="1" name="每周三凌晨清理Equeue7天之前的日志">
      <para value="G:\work\岳阳四全项目\LandSite2\EQueueBrokerService\Log" />
    </job>
  </JackTime2RunJobs>
  <appSettings>
    <add key="srvname" value="JackTime2Run" />
    <add key="srvdesc" value="JackTime2Run的定时服务,使用Quartz.net,可定时调用.dll|.exe(c#代码)|.cs文件" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="JackTime2Run.NamePipeSrv"  behaviorConfiguration="JackTime2RunManage">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/JackTime2Run/Manage" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="netNamedPipeBinding"
 contract="JackTime2Run.NamePipeSrv" />
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="JackTime2RunManage">
          <serviceMetadata httpGetEnabled="False"  />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>